<% content_for :head do %>
	<%- stylesheet_link_tag 'plotly' %>
<% end %>

<% if user_admin? %>
	<ul id="navigation">
		<% %w(dashboard filters fume_hoods members).each do |tab| %>
			<li><a href="<%= tab.dasherize %>"><%= t(tab) %></a></li>
		<% end %>
	</ul>
<% end %>

<meta name="filters" content="<%= organization.filters.pluck(:key).to_json %>">
<div id="hood-link"></div>

<%= templates 'app', 'templates' %>

<% content_for :scripts do %>
	<%= javascript_include_tag 'plotly' %>
	<% if user_admin? %>
		<%= javascript_include_tag 'admin' %>
	<% else %>
		<%= javascript_include_tag 'user' %>
	<% end %>
<% end %>