<% if user_admin? %>
	<ul id="navigation">
		<% %w(dashboard filters fume_hoods members).each do |tab| %>
			<li><a href="<%= tab.dasherize %>"><%= t(tab) %></a></li>
		<% end %>
	</ul>
<% end %>

<div id="hood-link"></div>

<%= templates 'app', 'templates' %>

<% content_for :scripts do %>
	<% if user_admin? %>
		<%= javascript_include_tag 'admin' %>
	<% else %>
		<%= javascript_include_tag 'user' %>
	<% end %>
<% end %>